.border {
  border: solid 1px;
}

.teal {
  color: teal;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.olive {
  color: olive;
}

.fuchsia {
  color: fuchsia;
}

.green {
  color: green;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}