.container-main {
  width: 960px;
  margin: 0 auto;
}

.container-a {
  display: flex;
}

.first-container {
  width: 260px;
  margin-right: auto;
}

.second-container {
  width: 700px;
  margin-left: auto;
  float: top;
}

ul .list-item {
  width: 233px;
  text-decoration: none;
}

.list-init {
  list-style-type: none;
  padding-left: 0;
}