.center {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.list {
  padding-inline-start: inherit;
  width: 440px;
  text-align: left;
  margin-right: auto;
}

.element {
  list-style-type: none;
  margin: 20px;
}

.enlace {
  color: white;
  text-decoration: none;
  width: 150px;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 5px 15px;
}

.element a:hover {
  border-width: 2px;
  border-color: red;
  border-style: solid;
}