div {
  position: absolute;
  border:1px solid #3c6a92;
}

.box1 {
  width:353px;
  height:113px;
  top: 95px;
  left:56px;
  z-index:800;
  background-color: #eef4ff;
}

.box2 {
  width:297px;
  top: 40px;
  left: 81px;
  z-index: 40;
  height:387px;
  background-color: #b9d3a9;
}

.box3 {
  width:397px;
  left: 20px;
  z-index: 20;
  height:116px;
  top: 374px;
  background-color: #f3dc95;
}

.box2 .sub1 {
  left: 15px;
  top: 120px;
  width:266px;
  height:98px;
  z-index:90;
  background-color: #5699d8;
}

.box2 .sub2 {
  left:126px;
  width:143px;
  top: 33px;
  z-index:30;
  height:296px;
  background-color: #c7c2c2;
}


.box2 .sub3 {
  width:176px;
  left: 105px;
  top: 278px;
  z-index: 10;
  height:99px;
  background-color: #f7bbbb;
}