.contenedor-horizontal {
  width: 400px;
  margin: 100px auto;
  background-color: rgb(2, 51, 51);
  text-align: center;
}

.contenedor-vertical {
  width: 200px;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
  padding: 200px 0;
}

.img-dota {
  width: 200px;
  height: 300px;
}