.caja {
  background-color: aqua;
  border: solid;
  width: 1000px;
  height: 50px;
  padding: 10px;
  margin: 20px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
