.container-main {
  width: 60em;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

.container-a {
  display: flex;
}

.first-container {
  width: 16em;
  margin-right: auto;
}

.second-container {
  width: 44em;
  margin-left: auto;
}