.title {
  color: red;
}

.paragraph-1 {
  color: cornflowerblue;
}

.text-red {
  color: red;
}

.bk-yellow {
  background-color: #fbf5bda3;
  color: darkblue;
}

.bg-black {
  color: yellow;
  background-color: black;
}