.main-title{
  border-bottom: 2px #00F solid;
}

.title-2 {
  border: solid 2px #AAA;
}

.index {
  border-top:dotted #F00 4px;
  border-bottom:dotted #F00 4px;
}

.last-p {
  border-style: dotted dashed;
  border-color: #0F0;
  border-width: 2px;
}
