.main-title {
  border-style: solid;
  border-width: 2px;
  border-color: #00f;
  padding-left: 10px;
  margin: 30px 0;
}

.title-2 {
  border: solid 2px #AAA;
  padding-left: 5px;
  margin: 15px 0;
}

.list {
  border: solid 2px #0f0;
  margin: 0 10px;
}

.list .mb {
  margin-bottom: 15px;
}