.contenedor-horizontal {
  width: 200px;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
}

.contenedor-vertical {
  width: 200px;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
  padding: 100px 0;
}