.body {
  color: #00F;
  background-color: #CFC;
  font-family: Georgia, Cambria, serif;
  font-size: 16px;
}

.main-title {
  color: #F00;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 32px;
}

.title-2 {
  color: #A00;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 24px;
}

strong .internet, strong .web {
  font-size: 20px;
}

em .text-white {
  color: #FFF;
  background-color: #000;
}
