table {
  border-collapse: collapse;
}

h1 {
  background-color: rgb(248, 203, 173);
  margin: 0px;
}

h2 {
  background-color: rgb(255, 230, 153);
  margin: 0px;
}

.empy {
  height: 20px;
}

th {
  border: solid 1px rgb(207, 207, 207);
  font-family:Calibri, 'Trebuchet MS', sans-serif;
}

td {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  border: solid 1px rgba(207, 207, 207, 0.7);
  width: 100px;
}

.title {
  background-color: rgb(226, 239, 218);
  width: 100px;
}

.to {
background-color: rgb(0, 176, 240);

}
