.container {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-family: Georgia, serif;
}

.container-b {
  margin: auto 0;
  text-align: center;
}

button {
  width: 100px;
  height: 40px;
  font-size: 14px;
}

input:hover {
  background-color: red;
}