table {
  border-collapse: collapse;
}

.title {
  font-size: 32px;
  background-color: rgb(255, 230, 153);
  text-align: center  ;
}

th{
  border: solid 1px rgba(163, 163, 163, 0.7);
  width: 130px;
}

td {
  border: solid 1px rgba(163, 163, 163, 0.7);
}

.empy {
  height: 20px;
}

.empy2 {
  width: 120px;
}

.num {
  text-align: right;
}

.red {
  background-color: rgb(248, 203, 173);
  text-align: left;
}

.green {
  background-color: rgb(226, 239, 218);
}