.link1 {
  color: red;
  text-decoration: none;
}

.link1:hover {
 color: white;
 background-color: red;
 text-decoration: underline;
}

.link1:active {
  color: orange;
  text-decoration: none;
}

.link1:visited {
  color: darkgreen;
  text-decoration: none;
}