.contenedor-horizontal {
  width: 200px;
  margin: 0px auto;
  background-color: rgb(85, 59, 2);
  text-align: center;
}

.contenedor-vertical {
  width: 200px;
  margin: 0 auto;
  background-color: rgb(5, 74, 87);
  text-align: center;
  padding: 50px 0;
}
/* 
.contenedor {
  width: 250px;
  margin: 0 auto;
  background-color: darkolivegreen;
  text-align: center;
  padding: 50px 0;
} */