.parrafo1 {
  color: rgb(8, 104, 104);
}

.parrafo2 {
  font-family: Verdana;
}

.parrafo3 {
  font-family: Tahoma;
}

.parrafo4 {
  font-family: 'Roboto';
}

.parrafo5 {
  font-family: 'Roboto';
  font-family: 'The Nautigal';
}